.expenses {
  display: flex;
  gap: 2rem;
  text-align: center;
  max-width: 85%;
  overflow-y: auto;
}

.expenses td {
  padding: 0 1.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: grey;
}

@supports (scrollbar-color: grey transparent) {
  * {
    scrollbar-color: grey transparent;
    /* scrollbar-width: thin; */
  }
}
