.expenses-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 2vw;
  padding: 1rem 0;
}

.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.expenses-row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  text-align: center;
  width: 70vw;
  height: 40vh;
  overflow: auto;
}

.second-row {
  min-width: 55vw;
  padding: 0 1rem;
}

.expenses-row td {
  padding: 0 1.5rem;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.expenses-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.expenses-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: var(--bgColor);
}

@supports (scrollbar-color: var(--bgColor) transparent) {
  .expenses-wrapper {
    scrollbar-color: var(--bgColor) transparent;
    /* scrollbar-width: thin; */
  }
}
