.expenses-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 2vw;
  padding: 1rem 0;
}

.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.expenses-row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  text-align: center;
  width: 70vw;
  height: 40vh;
  overflow: auto;
}

.second-row {
  max-width: 55vw;
  padding: 0 1rem;
}

.expenses-row td {
  padding: 0 1.5rem;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.expenses-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.expenses-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: var(--bgColor);
}

@supports (scrollbar-color: var(--miscColor) transparent) {
  .expenses-wrapper {
    scrollbar-color: var(--miscColor) transparent;
    /* scrollbar-width: thin; */
  }
}

@media (max-width: 1200px) {
  .expenses-wrapper {
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin: 0 1rem;
  }

  .side {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .expenses-row {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .side {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .expenses {
    flex-direction: column-reverse;
  }

  .expenses-row {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .second-row {
    flex-direction: row;
    height: 40vh;
    max-width: 90vw;
  }
}

@media (max-width: 480px) {
  .expenses-wrapper {
    margin: 0;
    padding: 0;
  }
}
