* {
  margin: 0;
  padding: 0;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

:root {
  --bgColor: rgba(250, 235, 215, 0.5);
  --miscColor: rgba(250, 235, 215, 0.3);
  --active: #0000b9;
  --shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

body {
  background: linear-gradient(#8d8741 6%, #659dbd);
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
}

main {
  min-height: 85vh;
}

footer {
  height: 5vh;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--active);
}

@supports (scrollbar-color: var(--active) #faebd7) {
  html {
    scrollbar-color: var(--active) #faebd7;
    scrollbar-width: thin;
  }
}
