* {
  margin: 0;
  padding: 0;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

:root {
  --bgColor: rgba(175, 150, 110, 0.5);
  --miscColor: rgb(170, 120, 50);
  --active: #0000b9;
  --shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

body {
  background: url("assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: rgb(215, 250, 248);
  /* background-color: rgb(255, 127, 80); */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
}

main {
  min-height: 85vh;
}

footer {
  height: 5vh;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--active);
}

@supports (scrollbar-color: var(--active) var(--miscColor)) {
  html {
    scrollbar-color: var(--active) var(--miscColor);
    scrollbar-width: thin;
  }
}
