* {
  margin: 0;
  padding: 0;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

:root {
  --bgColor: rgb(182, 185, 154);
  --bgUpper: #8d8741;
  --bgLower: #659dbd;
  --miscColor: rgba(250, 235, 215, 0.3);
  /* --active: #0000b9; */
  --active: #2c0072;
  --shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

body {
  background: linear-gradient(var(--bgUpper) 6%, var(--bgLower));
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
}

main {
  min-height: 85vh;
}

footer {
  height: 5vh;
}

a {
  text-decoration: none;
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  /* -webkit-text-fill-color: green; */
  -webkit-box-shadow: 0 0 0px 1000px var(--bgColor) inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: var(--active);
}

.link:focus {
  outline: none;
  color: var(--active);
}

@supports (scrollbar-color: var(--active) #faebd7) {
  html {
    scrollbar-color: var(--active) #faebd7;
    scrollbar-width: thin;
  }
}

@media (max-width: 1000px) {
  html {
    margin-right: 0;
    overflow-x: auto;
  }
}
