.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
}

.form > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form input {
  width: 180px;
  text-align: center;
}

.form select {
  width: 184px;
  text-align: center;
}
