.active {
  color: var(--active);
  position: relative;
}

.active-tab-indicator {
  border: 2px solid var(--active);
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}

@supports (-moz-appearance: none) {
  .active-tab-indicator {
    position: static;
  }
}

.link:hover {
  color: var(--active);
}

.link:focus {
  outline: none;
  color: var(--active);
}
