.wrapper {
  display: flex;
  gap: 2rem;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(182, 185, 154, 0.3);
  box-shadow: var(--shadow);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
