.wrapper {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  position: relative;
}

.input label {
  font-size: 0.9rem;
  display: block;
  opacity: 1;
  transform: translateY(-1.3rem) translateX(0.3rem);
  transform-origin: 0 0;
  transition: transform 0.3s;
}

.input input {
  box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  border-style: none none solid none;
  border-color: grey;
  padding: 5px;
  transition: transform 0.3s, border-color 0.3s;
}

.input input::placeholder {
  color: transparent;
}

.input input:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--bgLower);
  transform: scale(1.05);
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label {
  transform: translateY(-2.5rem) scale(0.8);
}

.password-toggle {
  display: none;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0;
}

.password-toggle:hover {
  cursor: pointer;
}

.input input:not(:placeholder-shown) ~ img {
  display: block;
}

.error {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  text-align: center;
  font-size: large;
  letter-spacing: 1px;
  color: rgb(175, 0, 0);
  text-shadow: 1px 1px 0px black;
  white-space: nowrap;
}
