@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  position: sticky;
  top: 0;
  color: black;
  /* background: linear-gradient(
    to bottom,
    #ffdb58,
    #ff8c00,
    var(--miscColor),
    transparent 101%
  ); */
  background: #8d8741;
  z-index: 1;
}

.navigation > h1 {
  font-family: "Tac One";
  font-size: 50px;
  white-space: nowrap;
  position: relative;
}

.navigation > h1:hover,
.account > i:hover {
  cursor: default;
}

.navigation > h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, var(--miscColor), var(--active));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 0%;
  overflow: hidden;
  transition: 1s;
  white-space: nowrap;
}

.navigation > h1:hover:before {
  width: 110%;
}

.links {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.account {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 1100px) {
  .navigation {
    flex-wrap: wrap;
  }

  .navigation > h1 {
    display: none;
  }
}

@media (max-width: 850px) {
  .navigation {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .account {
    position: static;
    padding: 1rem;
  }
}

@media (max-width: 400px) {
  .links {
    gap: 1rem;
  }
}
