.button {
  height: 2rem;
  font-size: 1rem;
  padding: 4px 10px;
  background-color: #8d8741b4;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7);
  color: antiquewhite;
}

.button:hover {
  cursor: pointer;
}
