.footer {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
  color: var(--miscColor);
}

.footer img {
  height: 40px;
  filter: invert(48%) sepia(55%) saturate(526%) hue-rotate(356deg)
    brightness(91%) contrast(87%);
}
